{% load static %}
{% load baskets_tags %}

{% user_baskets request as baskets %}

<div class="card mb-3 text-bg-light shadow-lg">
    {% for basket in baskets %}
        <div class="card-header">
            <h5 class="card-title">
                <a href="{% url 'catalog:product' product_slug=basket.product.slug %}" style="text-decoration: none; color: black;">
                    {{ basket.product.name }}
                </a>
            </h5>
        </div>
    
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <div class="row align-items-center text-center">
                    <div class="col-3">
                        <form action="{% url 'basket:basket_change' basket.id %}" method="post" style="display: inline;">
                            {% csrf_token %}
                            <input type="hidden" name="action" value="decrement">
                            <button type="submit" style="border: 4px solid green;" class="btn btn-dark btn-sm">-</button>
                        </form>
                        <input type="text" class="form-control text-center number px-1 d-inline-block"
                               value="{{ basket.quantity }}" readonly style="width: 40px;">
                        <form action="{% url 'basket:basket_change' basket.id %}" method="post" style="display: inline;">
                            {% csrf_token %}
                            <input type="hidden" name="action" value="increment">
                            <button type="submit" style="border: 4px solid green;" class="btn btn-dark btn-sm">+</button>
                        </form>
                    </div>
                    <div class="col-4">
                        <p class="m-0">x {{ basket.product.sell_price }} =</p>
                    </div>
                    <div class="col-3">
                        <strong>{{ basket.products_price }} $</strong>
                    </div>
                    <div class="col-2">
                        <form action="{% url 'basket:basket_remove' basket.id %}" method="post" class="remove-from-cart d-inline">
                            {% csrf_token %}
                            <button type="submit" style="background: none; border: none; padding: 0; cursor: pointer;">
                                <img style="border: 2px solid yellow; border-radius: 4px;" class="mx-1" src="{% static 'source1/icons_site/icon_delete.svg' %}"
                                     alt="Delete Icon" width="25" height="25">
                            </button>
                        </form>
                    </div>
                </div>
            </li>
        </ul>
    {% endfor %}
</div>

    <div class="card mb-3 shadow-lg">
        <div class="card-footer">
            <p class="float-left">Итого <strong>{{ baskets.total_quantity }}</strong> товар(а) на сумму</p>
            <h4 class="float-left"><strong>{{ baskets.total_price }} $</strong></h4>
        </div>
        {% if baskets %}
            {% if request.path != '/orders/create-order/' %}
               <a href="{% url 'orders:create_order' %}" class="btn btn-dark" style="border: 4px solid green;">
                   Оформить заказ
               </a>
            {% endif %}
        {% endif %}
</div>