{% extends "base.html" %}
 {% load static  %}
 {% load baskets_tags %}

{% block content %}
 <div style="background-color: lightgray;" class=" p-4 mb-4 mx-2 rounded custom-shadow">
     <div class="container">
         <h3 class="text-center mb-4">Выбранные товары</h3>
         <div class="container" id="cart-items-container">
             
             {% user_baskets request as baskets %}
            {% include "baskets/includes/included_basket.html" %}
            
         </div>
     </div>
{% if messages %}
    <ul>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
      
     {# Детали заказа #}
     <div class="container">
         <h3 class="text-center">Детали заказа</h3>
         <div class="card mb-3">
             <div class="card-body">
                 <form action="{% url 'orders:create_order' %}" method="post">
                    {% csrf_token %}
                     <div class="row">
                         <div class="col-md-6 mb-3">
                             <label for="id_first_name" class="form-label">Имя*:</label>
                             <input type="text" class="form-control" id="id_first_name"
                                 value ="{% if form.first_name.value %}{{ form.first_name.value}} {% endif %}"
                                 name="first_name" required>
                                 {% if form.first_name.errors %}
                                    <div class="alert alert-danger alert-dismissible fade show">{{form.first_name.errors}}</div>
                                 {% endif %}
                         </div>
                         <div class="col-md-6 mb-3">
                             <label for="id_last_name" class="form-label">Фамилия*:</label>
                             <input type="text" class="form-control" id="id_last_name"
                             value ="{% if form.last_name.value %}{{ form.last_name.value}} {% endif %}"
                             name="last_name" required>
                             {% if form.last_name.errors %}
                                    <div class="alert alert-danger alert-dismissible fade show">{{form.last_name.errors}}</div>
                             {% endif %}
                         </div>
                         <div class="col-md-6 mb-3">
                             <label for="id_phone_number" class="form-label">Номер телефона*:</label>
                             <input type="text" class="form-control" id="id_phone_number" 
                             value ="{% if form.phone_number.value %}{{ form.phone_number.value}} {% endif %}"
                             name="phone_number"
                             placeholder="В формате: XXX-XXX-XX-XX"
                             required>
                             {% if form.phone_number.errors %}
                                    <div class="alert alert-danger alert-dismissible fade show">{{form.phone_number.errors}}</div>
                             {% endif %}
                         </div>                  
                     <button  type="submit" class="btn btn-dark" style="border: 4px solid green;">Оформить заказ</button>
                 </form>
             </div>
         </div>
     </div>
 </div>
{% endblock content %}