{% extends "base.html" %}
{% load static %}
{% load goods_tags %}

{% block link %}
<link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
    rel="stylesheet"
/>
{% endblock link %}

<title>{% block title %}Catalog{% endblock %}</title>

{% block content %}
  <section class="ground">
      <div class="container-fluid mt-4">
        <div class="row">
            <!-- Форма фильтров -->
                        <div class="dropdown mb-2">
                            <button class="btn btn-secondary dropdown-toggle btn-dark" type="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Фильтры
                            </button>
                    
                            <form action="{% if request.GET.q %} {% url 'catalog:search' %} {% else %} {% url 'catalog:index' slug_url %} {% endif %}" method="get" class="dropdown-menu bg-dark" data-bs-theme="dark">
                                <div class="form-check text-white mx-3">
                                    <input class="form-check-input" type="checkbox" name="on_sale" id="flexCheckDefault" value="on" {% if request.GET.on_sale == 'on' %}checked{% endif %}>
                                    {% if request.GET.q %}
                                        <input type="hidden" name="q" value="{{ request.GET.q }}">
                                    {% endif %}
                                    <label class="form-check-label" for="flexCheckDefault">
                                        Товары по акции
                                    </label>
                                </div>
                                <p class="text-white mx-3 mt-3">Сортировать:</p>
                                <div class="form-check text-white mx-3">
                                    <input class="form-check-input" type="radio" name="order_by" id="flexRadioDefault1" value="default" 
                                    {% if not request.GET.order_by or request.GET.order_by == 'default' %}checked{% endif %} >
                                    
                                    
                                    
                                    <label class="form-check-label" for="flexRadioDefault1">
                                        По умолчанию
                                    </label>
                                </div>
                                <div class="form-check text-white mx-3">
                                    <input class="form-check-input" type="radio" name="order_by" id="flexRadioDefault2" value="price"
                                     {% if request.GET.order_by == 'price' %}checked{% endif %}>
                                    <label class="form-check-label" for="flexRadioDefault2">
                                        От дешевых к дорогим
                                    </label>
                                </div>
                                <div class="form-check text-white mx-3">
                                    <input class="form-check-input" type="radio" name="order_by" id="flexRadioDefault3" value="-price"
                                     {% if request.GET.order_by == '-price' %}checked{% endif %}>
                                    <label class="form-check-label" for="flexRadioDefault3">
                                        От дорогих к дешевым
                                    </label>
                                </div>
                                <button type="submit" class="btn btn-primary mx-3 mt-3">Применить</button>
                            </form>
                        </div>
          <div class="col-lg-3"></div>
          <div class="col-lg-8">
            <div class="row">


{% if not page_obj %}
<h1 class='mt-4'  style="color: red;">По запросу "{{request.GET.q}}" ничего не найдено</h1>
{% endif %}              
{% for product in page_obj %}            
           
              <div class="col-lg-4 col-md-6 mt-4 d-flex align-items-stretch">
                <div class="card custom-card ">
                  {% if product.image %}
                      <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}" style="height: 210px; object-fit: cover;" />
                  {% else %}
                    <img src="{% static 'source1/images/images not found.png' %}" class="card-img-top" alt="..." style="height: 210px; object-fit: cover;" />
                  {% endif %}
                  
                    
                  <div class="card-body">
                    <a href=" {% url 'catalog:product' product.slug %}" style="color:black;">
                       <h5 class="card-title">
                        {% autoescape off %}
                        {% if product.headline %}
                        {{product.headline}}                       
                        {% else %}
                        {{product.name}}
                        {% endif %}
                        {% endautoescape %}
                      </h5>
                   </a>
                    <p> Пробег: {{product.mileage}} км</p>
                    <p class="card-text text-truncate" style="max-height: 60px;">
                      <a href="#" class="text-secondary read-more-link">
                        {% autoescape off %}
                        {% if product.bodyline %}
                        {{product.bodyline}}                       
                        {% else %}
                        {{product.description}}
                        {% endif %}
                        {% endautoescape %}                 
                      </a>
                      
                    </p>
                    
                    <p class="product_id text-secondary">id: {{ product.display_id }}</p>
                    <div class="d-flex justify-content-between">


                        {% if product.discount %}
                        <h3><s>{{ product.price }} $</s> </h3>
                        <h2><strong style="color: red;">{{ product.sell_price }} $</strong></h2>
                        <span class="badge bg-warning text-dark fs-6 position-absolute top-0 end-0 m-2">
                        Скидка {{ product.discount }} %
                        </span> 
                        {% else %}
                        <h3><strong>{{ product.price }} $</strong></h3> 
                        {% endif %}
                                        
                    </div>


                    <div class="modal hidden ">
                      <div class="modal-content">
                        <span class="close-btn">&times;</span> <br />
                        <p class="aboutmoto">
                        {{product.full_description}}
                        </p>
                        
                        <div
                          id="{{ product.id }}"
                          class="carousel slide"
                        >
                          <div class="carousel-indicators">
                            <button
                              type="button"
                              data-bs-target="#{{ product.id }}"
                              data-bs-slide-to="0"
                              class="active"
                              aria-current="true"
                              aria-label="Slide 1"
                            ></button>
                            <button
                              type="button"
                              data-bs-target="#{{ product.id }}"
                              data-bs-slide-to="1"
                              aria-label="Slide 2"
                            ></button>
                            <button
                              type="button"
                              data-bs-target="#{{ product.id }}"
                              data-bs-slide-to="2"
                              aria-label="Slide 3"
                            ></button>
                          </div>
                          <div class="carousel-inner">
                            <div class="carousel-item active">
                               {% if product.image_slide1 %}
                                    <img
                                      src="{{ product.image_slide1.url }}"
                                      class="d-block w-100"
                                      alt="..."
                                    />
                               {% else %}
                                    <img src="{% static 'source1/images/images not found.png' %}" />
                               {% endif %}
                            </div>
                            <div class="carousel-item">
                                 {% if product.image_slide2 %}
                                    <img
                                      src="{{ product.image_slide2.url }}"
                                      class="d-block w-100"
                                      alt="..."
                                    />
                               {% else %}
                                    <img src="{% static 'source1/images/images not found.png' %}" />
                               {% endif %}
                            </div>
                            <div class="carousel-item">
                                {% if product.image_slide3 %}
                                    <img
                                      src="{{ product.image_slide3.url }}"
                                      class="d-block w-100"
                                      alt="..."
                                    />
                               {% else %}
                                    <img src="{% static 'source1/images/images not found.png' %}" />
                               {% endif %}
                            </div>
                          </div>
                          <button
                            class="carousel-control-prev"
                            type="button"
                            data-bs-target="#{{ product.id }}"
                            data-bs-slide="prev"
                          >
                            <span
                              class="carousel-control-prev-icon"
                              aria-hidden="true"
                            ></span>
                            <span class="visually-hidden">Previous</span>
                          </button>
                          <button
                            class="carousel-control-next"
                            type="button"
                            data-bs-target="#{{ product.id }}"
                            data-bs-slide="next"
                          >
                            <span
                              class="carousel-control-next-icon"
                              aria-hidden="true"
                            ></span>
                            <span class="visually-hidden">Next</span>
                          </button>
                        </div>
                      </div>
                    </div>

                    <a href="#" class="btn btn-success mt-5">Купить</a> <a href="#" class="btn add-to-cart">
                        <img class="mx-1 mt-5" src="{% static 'source1/icons_site/basket.png' %}" alt="Catalog Icon"
                          width="32" height="32">
                    </a>
                  </div>
                </div>
              
              </div>
{% endfor %}  


 <!-- Пагинация -->
 {% if  page_obj %}
  <nav aria-label="Page navigation example ">
          <ul class="pagination justify-content-center my-4 mt-5">

                          {% if page_obj.has_previous %}
                           <li class="page-item">
                              <a class="page-link" href="?{% change_params page=1 %}">Первая</a>
                           </li>
                             <li class="page-item">
                              <a class="page-link" href="?{% change_params page=page_obj.previous_page_number %}">Назад</a>
                           </li>                         
                          {% else %}
                            <li class="page-item disabled">
                              <a class="page-link" href="#">Первая</a>
                            </li>
                            <li class="page-item disabled">
                              <a class="page-link" href="#">Назад</a>
                           </li>
                          {% endif %}
                          
                          <!-- Номер страниц -->

                           {% for num in page_obj.paginator.page_range %}
                            {% if num >= page_obj.number|add:-2 and num <= page_obj.number|add:2 %}
                                {% if page_obj.number == num %}
                                    <li class="page-item active">
                                        <a class="page-link" href="#">{{ num }}</a>
                                    </li>
                                {% else %}
                                    <li class="page-item">
                                        <a class="page-link" href="?{% change_params page=num %}">{{ num }}</a>
                                    </li>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                                  
                      
                        {% if page_obj.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?{% change_params page=page_obj.next_page_number %}">Следующая</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="?{% change_params page=page_obj.paginator.num_pages %}">Последняя</a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" href="#">Следующая</a>
                            </li>
                            <li class="page-item disabled">
                                <a class="page-link" href="#">Последняя</a>
                            </li>
                        {% endif %}
                    </ul>
      </nav>
 
 {% endif %}
      
            </div>
          </div>
          <div class="col-lg-1"></div>
        </div>
      </div>
    </section>
{% endblock content %}

{% block script %}


<script src="{% static 'source1/js/script.js' %}"></script>

{% endblock script %}