{% extends "base.html" %}
{% load static %}

{% block link %}
<link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
    rel="stylesheet"
/>
{% endblock link %}

<title>{% block title %}Product{% endblock %}</title>

{% block content %}
<div class="container-fluid mt-4 d-flex justify-content-center">
  <div class="card" style="max-width: 800px;">
    <div class="row g-0">

      <div class="col-md-4 d-flex align-items-center">
        <img
          src="{{ product.image.url }}"
          class="img-fluid rounded-start"
          alt="Мотоцикл"
          style="object-fit: contain; max-height: 250px;"
        />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <p class="product_id mt-3">id: {{ product.display_id }}</p>
          <h5 class="card-title">{{ product.name }}</h5>
          <p>Пробег: {{ product.mileage }} км.</p>
        <p class="card-text">
          <a href="#" class="text-secondary read-more-link"
            >{{ product.description }}</a
          >
                    </p>
                    <h3><span>Цена: {{ product.sell_price }} $ </span></h3>
                   <div class="modal hidden ">
                      <div class="modal-content">
                        <span class="close-btn">&times;</span> <br />
                        <p class="aboutmoto">
                        {{product.full_description}}
                        </p>
                        
                        <div
                          id="{{ product.id }}"
                          class="carousel slide"
                        >
                          <div class="carousel-indicators">
                            <button
                              type="button"
                              data-bs-target="#{{ product.id }}"
                              data-bs-slide-to="0"
                              class="active"
                              aria-current="true"
                              aria-label="Slide 1"
                            ></button>
                            <button
                              type="button"
                              data-bs-target="#{{ product.id }}"
                              data-bs-slide-to="1"
                              aria-label="Slide 2"
                            ></button>
                            <button
                              type="button"
                              data-bs-target="#{{ product.id }}"
                              data-bs-slide-to="2"
                              aria-label="Slide 3"
                            ></button>
                          </div>
                          <div class="carousel-inner">
                            <div class="carousel-item active">
                               {% if product.image_slide1 %}
                                    <img
                                      src="{{ product.image_slide1.url }}"
                                      class="d-block w-100"
                                      alt="..."
                                    />
                               {% else %}
                                    <img src="{% static 'source1/images/images not found.png' %}" />
                               {% endif %}
                            </div>
                            <div class="carousel-item">
                                 {% if product.image_slide2 %}
                                    <img
                                      src="{{ product.image_slide2.url }}"
                                      class="d-block w-100"
                                      alt="..."
                                    />
                               {% else %}
                                    <img src="{% static 'source1/images/images not found.png' %}" />
                               {% endif %}
                            </div>
                            <div class="carousel-item">
                                {% if product.image_slide3 %}
                                    <img
                                      src="{{ product.image_slide3.url }}"
                                      class="d-block w-100"
                                      alt="..."
                                    />
                               {% else %}
                                    <img src="{% static 'source1/images/images not found.png' %}" />
                               {% endif %}
                            </div>
                          </div>
                          <button
                            class="carousel-control-prev"
                            type="button"
                            data-bs-target="#{{ product.id }}"
                            data-bs-slide="prev"
                          >
                            <span
                              class="carousel-control-prev-icon"
                              aria-hidden="true"
                            ></span>
                            <span class="visually-hidden">Previous</span>
                          </button>
                          <button
                            class="carousel-control-next"
                            type="button"
                            data-bs-target="#{{ product.id }}"
                            data-bs-slide="next"
                          >
                            <span
                              class="carousel-control-next-icon"
                              aria-hidden="true"
                            ></span>
                            <span class="visually-hidden">Next</span>
                          </button>
                        </div>
                      </div>
                    </div>
                    <a href="{% url 'basket:basket_add' product.slug %}" class="btn btn-success position-absolute bottom-0 end-0 m-3">Купить</a>
                  </div>
                </div>
              </div>
{% endblock content %}

{% block script %}


<script src="{% static 'source1/js/script.js' %}"></script>

{% endblock script %}