{% extends "base.html" %}

{% load static %}

{% block content %}
    <div class="row">
         <div class="container mt-5">
             <div class="row justify-content-center">
                 <div style="background-color: lightgray;" class="col-md-6  p-4 mb-4 mx-2 rounded custom-shadow">
                     <h3 class="text-center mb-4">Корзина</h3>
                     <div class="container" id="cart-items-container">
                        
                         {% include "baskets/includes/included_basket.html" %}
                         
                     </div>
                     {% if baskets %}
                        <a  class="btn btn-dark" href="{% url 'orders:create_order' %}" style="border: 4px solid green;">
                            Оформить заказ
                        </a>
                     {% endif %}    
                 </div>
             </div>
         </div>
     </div>
{% endblock content %}