html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Убираем горизонтальный скролл */
}

body {
  background-image: url(../images/moto_background2.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}

/*Название магазина */
.main_title {
  position: absolute;
  top: 25%;
  left: 30%;
  transform: translate(-50%, -50%);
  font-size: 36px;
  color: #6c757d;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  text-align: center;
  animation: smooth-blink 3s ease-in-out 1;
}

@keyframes smooth-blink {
  0%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}

/* О нас*/
.about_us {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin-top: 30px;
  border-radius: 10px;
  border: 2px solid white(246, 243, 243); /* Толщина, стиль и цвет рамки */
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.818);
  color: black;
  text-align: center;
}

/*Лого*/
.navbar-brand {
  animation: myAnim 8s ease 0s 1 normal forwards;
}
@keyframes myAnim {
  0% {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, 0.95, 1);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}

/* Контейнер для карточек */
.ground {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

/* Конечное состояние карточек */
.ground.appear {
  opacity: 1;
  transform: translateY(0);
}

/* Стили для карточек */

/*Ссылка на полный текст в карточке*/
a.read-more-link {
  color: #007bff;
  text-decoration: none;
  cursor: pointer;
}

a.read-more-link:hover {
  text-decoration: underline;
}
.custom-card {
  min-width: 270px;
  max-width: 300px;
}

/* Модальное окно */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh; /* Покрывает всю высоту экрана */
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0; /* Скрыто изначально */
  visibility: hidden; /* Скрыто изначально */
  transition: opacity 0.5s ease, visibility 0.5s ease;
  z-index: 1050; /* Модальное окно должно быть сверху */
}

/* Когда модальное окно становится видимым */
.modal.visible {
  opacity: 1;
  visibility: visible;
}

/* Контейнер модального содержимого */
.modal-content {
  background-color: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 10px;
  max-width: 500px;
  width: 90%;
  box-shadow: 0 4px 10px rgba(7, 7, 7, 0.935);
  text-align: center;
  z-index: 1060; /* Содержимое должно быть поверх фона */
}

/* Кнопка закрытия */
span.close-btn {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

/* Затемняющий фон */
.modal::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.735); /* Черный фон с прозрачностью */
  z-index: 1040; /* Фоновая панель должна быть под модальным содержимым */
  pointer-events: all; /* Захватывает все клики */
}

/* Стили для "О нас" */
.aboutmoto {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  border: 1px solid black;
  padding: 15px;
  border-radius: 20px;
}
/* стили для значка корзины*/
.hidden-basket {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5); /* Затемнение фона */
  z-index: 1050; /* Поверх всего остального */

  justify-content: center;
  align-items: center;
}

.basket-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  width: 90%;
  max-width: 500px; /* Максимальная ширина */
}
