{% extends "main/base.html" %}
{% load static %}



<title>{% block title %}About us{% endblock %}</title>

{% block content %}
<section>
    <div class="about_us">
          <p>
            Быть мотоциклистом — это своеобразное искусство. Приходится быть ответственным, осторожным и постоянно ухаживать за своим байком, чтобы он был вашим безотказным помощником многие годы. И если вы ищете хороший и недорогой мотоцикл, добро пожаловать к нам!
            Современные мотомагазины предлагают действительно хорошие товары, но лишь единицы способны предложить вам такие же выгодные условия, как у нас. Вы легко найдете себе именно тот мотоцикл, который будет вас радовать каждую вашу поездку!
          </p>
          <p>
         <b>Мотомагазин «Live Your Dream»</b> специализируется на продаже мотоциклов популярных мировых брендов таких как  BMW, Harley-Davidson, Aprilia, Honda, Kawasaki, Yamaha, Suzuki и др.  Мы осуществляем прямые поставки как новых, так и б/у моделей с аукционов BDS, JBA, ARAI, AUCNET. Ассортимент обновляется каждую неделю.
          </p>
    </div>
    <div class="about_us">
            <p><h3>Дополнительные услуги</h3>
               Наша цель - сохранить хорошие отношения с покупателем как можно дольше. Поэтому мы стараемся дать ему всё, что может понадобиться мотоциклисту. Не только товары, но и услуги. Наш сервис выполняет работы разной сложности, от техобслуживания до ремонта двигателя и покраски. Если в межсезонье вам негде держать мотоцикл, у нас есть услуга “Зимнее хранение”. Мы разместим вашу технику в помещении, соответствующем всем нормам безопасности. Микроклимат - оптимальный, железо не заржавеет и хром не облезет.
            </p> 
    </div>

     <div class="about_us">
            <p><h3>Акции с бесплатной доставкой</h3>
             Акции с бесплатной доставкой действуют только на территории Европы. 
             При покупке с применением любого промокода бесплатная доставка не применяется. Акции и скидки не суммируется.
             Акции с бесплатной доставкой могут иметь разные условия для интернет-магазина. Акция, проводимая в интернет-магазине, может не проводиться в розничной сети или иметь другие условия и наоборот.
             Способ доставки выбирает сотрудник компании из способов, доступных компании. Если покупателя не устраивает предложенный способ доставки, покупатель вправе отказаться от покупки, если оптимальное для обеих сторон решение не будет найдено. Возврат денежных средств в этом случае производится на общих основаниях, как при возврате товара.
            </p> 
    </div>

    <div class="about_us">
            <h3>Гарантия</h3>
            <p>
              На каждый мотоцикл, представленный в интернет-магазине мотоциклов Live Your Dream предоставляется временная гарантия или гарантия по пробегу. Плюс ко всему мотомагазин Live Your Dream  имеет собственное СТО по обслуживанию техники, это даёт нам возможность обеспечить качественный сервис нашим покупателям.
              Мы проводим не только гарантийное, но и постгарантийное обслуживание. Компания в полной мере обеспечивает расходными материалами и запасными частями на все продаваемые модели.
            </p>
    </div>
 </section>
{% endblock content %}







